
* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  transition: all 0.3s linear;
}

header {
    min-height: 100vh;
    width: 100%;
    background: url(img/child.jpg);
    background-position: center;
    background-size: cover;
  }
  header .logo{
    color: #ff7200;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

  header nav {
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .links {

      position: relative;
      left: 350px;
  }

  
  .links .logo{
    position: relative;
    left: -200px;
    
  }
  nav .links li {
      text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 30px;
  }
  .links li a {
    color: rgb(255, 255, 255);
  }
  nav .heart {
    border: none;
    outline: none;
    transition: 0.5s ease;
    background: #ff7200;
    padding: 14px 40px;
    font-weight: bolder;
    color: #000000;
    border-radius: 50px;
    margin-right: 60px;
    text-transform: uppercase;
  }
  .links li:hover a {
    color: #ff7200;
    transition: all 0.3s linear;
  }
  nav .heart:hover {
    color: #ff7200;
    background: black;
    cursor: pointer;
    border: none;
    transition: all 0.3s linear;
  }
 
 
  

#arrow-down{
     position: relative;
    color: #fff;
    font-size: 50px;
    width: 32px;
    height: 32px;
    text-align: center;
    left: -50%;
    top: 350px;

}

  

.home-text h1{
  font-size: 120px;
  color: #fff;
  padding-left: 100px;
  padding-top: 80px;
  opacity: 0.6;
  line-height: -2.2rem;
}

  .donate {
  border: none;
  outline: none;
  transition: 0.5s ease;
  background: #ff7200;
  padding: 25px 60px;
  font-weight: bolder;
  color: #000000;
  border-radius: 50px;
  margin-right: 60px;
  text-transform: uppercase;
  position: relative;
  top: 40px;
  left: 120px;
  font-size: 20px;

}

  .donate:hover {
  color: #ff7200;
  background: black;
  cursor: pointer;
  border: none;
  transition: all 0.3s linear;
}

